<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IFB-InvestPortal</title>
<meta name="description" content="MEHN full stack">
<meta name="keywords" content="MEHN">
<meta name="author" content="Narendranath Reddy">
<meta name="google-site-verification" content="tEAm6dKt5cLYpLfuvwkbVhgKL9uyst0c7HuUFnCGTWs" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="container">

    {{{ body }}}

</body>
</html>
